.container{
    width: 100%;
    display: flex;
    min-height: 100vh;
}


.side{
    width : 100px;
    background-color: #F5F5F5;
    border-right: 2px solid #EDECED;
    padding-top: 30px;
    text-align: center;
    position: relative;
}

.side h4{
    font-weight: 700;
    font-size: 16px;
}

.side .color_selector{
    width: 100%;
    height: 600px;
    position: relative;
    margin-top: 70px;
    
}
.gooeys{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter:url('#blur');
}

.gooey{
    width : 15px;
    height: 15px;
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: #ff0000;
    border-radius: 100%;
    
}


.gooey.icons{
    background: #000;
    width: 28px;
    height: 28px;
    position: relative;
}

.gooey.icons div{
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.gooey.icons div:nth-child(1){
    width: 10px;
    height: 2px;
}


.gooey.icons div:nth-child(2){
    width: 2px;
    height: 10px;
}


.gooey:nth-child(1){
    background-color: #F5C16D;
    
}


.gooey:nth-child(2){
    background-color: #F4966E;

}

.gooey:nth-child(3){
    background-color:#B18CF4;
 
}


.gooey:nth-child(4){
    background-color: #02CBF5;

}

.gooey:nth-child(5){
    background-color: #DBE589;

}


.a .gooey:nth-child(1){
    background-color: #F5C16D;
    
}


.a .gooey:nth-child(2){
    background-color: #F4966E;

}

.a .gooey:nth-child(3){
    background-color:#B18CF4;
 
}


.a .gooey:nth-child(4){
    background-color: #02CBF5;

}

.a .gooey:nth-child(5){
    background-color: #DBE589;

}





/* 메인 영역 */

.main{
    flex-grow: 1;
    background-color: #F5F5F5;
}